In [25]:
import pandas as pd
import numpy as np

import os
import glob

import re

pd.options.display.max_columns = None

## **Data Understanding**

Ini adalah dataset publik e-commerce Brasil dari pesanan yang dibuat di Olist Store. Dataset ini memiliki informasi dari 100 ribu pesanan dari tahun 2016 hingga 2018 yang dibuat di beberapa pasar di Brasil. Fitur-fiturnya memungkinkan untuk melihat pesanan dari berbagai dimensi: mulai dari status pesanan, harga, pembayaran, dan kinerja pengiriman hingga lokasi pelanggan, atribut produk, dan akhirnya ulasan yang ditulis oleh pelanggan. Selain itu ada juga dataset geolokasi yang menghubungkan kode pos Brasil dengan koordinat lintang/lintang.

### **Data Schema**

Data dibagi dalam beberapa dataset. Skema data bisa dilihat pada gambar berikut:
<p> <p>
<figure>
  <center><img src = "https://raw.githubusercontent.com/aridiawan/ecommerce-analysis/main/data/raw/ERD.jpg" alt ="Scheme Data Table" width = 900; height = 647></center>
  <figcaption align = "center">Gambar 1. <em>Scheme Data</em> </figcaption>
</figure>
<p> <p>

### **Feature Description**

Berikut adalah fitur-fitur yang tersedia dalam dataset:
<p> <p>
<figure>
  <center><img src = "https://raw.githubusercontent.com/aridiawan/ecommerce-analysis/main/data/raw/Olist-Dataset-Description.jpg" alt ="Scheme Data Table" width = 900; height = 1056></center>
  <figcaption align = "center">Gambar 2. <em>Deskripsi Feature</em> </figcaption>
</figure>
<p> <p>

### **Data Skimming**

In [26]:
# load data
mydir = r"D:\PURWADHIKA\FINAL PROJECT\ecommerce-analysis\data\raw"

file_list = glob.glob(mydir + "\*.csv")

In [27]:
# function text handling

def efn(text):
    file = text.split('\\')[-1].replace('.csv','')
    return file

def white_string_to_nan(data):
    return data.replace(r'^\s*$', np.nan, regex=True)

In [28]:
# create dictinoary of dataset

dfs = {f'{efn(file)}_df': white_string_to_nan(pd.read_csv(file, engine="pyarrow")) for file in file_list}

In [29]:
# check data info

dataInfo = []

for n in dfs.keys():
    dataInfo.append({
        'dataset_name' : n,
        'shape' : dfs[n].shape,
        'columns' : list(dfs[n].columns),
        'duplicate' : dfs[n].duplicated().sum(),
        'null' : dfs[n].isna().sum().sum(),
        'null_columns' : dfs[n].columns[dfs[n].isna().any()].tolist()
    })

pd.DataFrame(dataInfo)

,dataset_name,shape,columns,duplicate,null,null_columns
0,olist_customers_dataset_df,"(99441, 5)","[customer_id, customer_unique_id, customer_zip...",0,0,[]
1,olist_geolocation_dataset_df,"(1000163, 5)","[geolocation_zip_code_prefix, geolocation_lat,...",261831,0,[]
2,olist_orders_dataset_df,"(99441, 8)","[order_id, customer_id, order_status, order_pu...",0,4908,"[order_approved_at, order_delivered_carrier_da..."
3,olist_order_items_dataset_df,"(112650, 7)","[order_id, order_item_id, product_id, seller_i...",0,0,[]
4,olist_order_payments_dataset_df,"(103886, 5)","[order_id, payment_sequential, payment_type, p...",0,0,[]
5,olist_order_reviews_dataset_df,"(99224, 7)","[review_id, order_id, review_score, review_com...",0,145932,"[review_comment_title, review_comment_message]"
6,olist_products_dataset_df,"(32951, 9)","[product_id, product_category_name, product_na...",0,2448,"[product_category_name, product_name_lenght, p..."
7,olist_sellers_dataset_df,"(3095, 4)","[seller_id, seller_zip_code_prefix, seller_cit...",0,0,[]
8,product_category_name_translation_df,"(71, 2)","[product_category_name, product_category_name_...",0,0,[]

In [30]:
# skimming function

def skim(data, name):
    summary = pd.DataFrame({
                'dataset' : name,
                'column': data.columns.values,
                'type': data.dtypes.values,
                'n_unique': data.nunique().values,
                'n_missing': data.isna().sum().reset_index()[0],
                'pct_missing': round(data.isna().sum().reset_index()[0]/len(data)*100, 2),
                'min': data.dropna().min().values,
                'max': data.dropna().max().values
                })
    return summary

In [31]:
# check

summ = pd.concat([skim(dfs[n], n) for n in dfs.keys()], sort=False)
summ

,dataset,column,type,n_unique,n_missing,pct_missing,min,max
0,olist_customers_dataset_df,customer_id,object,99441,0,0.00,00012a2ce6f8dcda20d059ce98491703,ffffe8b65bbe3087b653a978c870db99
1,olist_customers_dataset_df,customer_unique_id,object,96096,0,0.00,0000366f3b9a7992bf8c76cfdf3221e2,ffffd2657e2aad2907e67c3e9daecbeb
2,olist_customers_dataset_df,customer_zip_code_prefix,int64,14994,0,0.00,1003,99990
3,olist_customers_dataset_df,customer_city,object,4119,0,0.00,abadia dos dourados,zortea
4,olist_customers_dataset_df,customer_state,object,27,0,0.00,AC,TO
0,olist_geolocation_dataset_df,geolocation_zip_code_prefix,int64,19015,0,0.00,1001,99990
1,olist_geolocation_dataset_df,geolocation_lat,float64,717372,0,0.00,-36.605374,45.065933
2,olist_geolocation_dataset_df,geolocation_lng,float64,717615,0,0.00,-101.466766,121.105394
3,olist_geolocation_dataset_df,geolocation_city,object,8011,0,0.00,* cidade,óleo
4,olist_geolocation_dataset_df,geolocation_state,object,27,0,0.00,AC,TO
0,olist_orders_dataset_df,order_id,object,99441,0,0.00,00010242fe8c5a6d1ba2dd792cb16214,fffe41c64501cc87c801fd61db3f6244
1,olist_orders_dataset_df,customer_id,object,99441,0,0.00,00012a2ce6f8dcda20d059ce98491703,ffffa3172527f765de70084a7e53aae8
2,olist_orders_dataset_df,order_status,object,8,0,0.00,canceled,delivered
3,olist_orders_dataset_df,order_purchase_timestamp,datetime64[ns],98875,0,0.00,2016-09-15 12:16:38,2018-08-29 15:00:37
4,olist_orders_dataset_df,order_approved_at,datetime64[ns],90733,160,0.16,2016-09-15 12:16:38,2018-08-29 15:10:26
5,olist_orders_dataset_df,order_delivered_carrier_date,datetime64[ns],81018,1783,1.79,2016-10-08 10:34:01,2018-09-11 19:48:28
6,olist_orders_dataset_df,order_delivered_customer_date,datetime64[ns],95664,2965,2.98,2016-10-11 13:46:32,2018-10-17 13:22:46
7,olist_orders_dataset_df,order_estimated_delivery_date,datetime64[ns],459,0,0.00,2016-10-04 00:00:00,2018-10-25 00:00:00
0,olist_order_items_dataset_df,order_id,object,98666,0,0.00,00010242fe8c5a6d1ba2dd792cb16214,fffe41c64501cc87c801fd61db3f6244
1,olist_order_items_dataset_df,order_item_id,int64,21,0,0.00,1,21
2,olist_order_items_dataset_df,product_id,object,32951,0,0.00,00066f42aeeb9f3007548bb9d3f33c38,fffe9eeff12fcbd74a2f2b007dde0c58
3,olist_order_items_dataset_df,seller_id,object,3095,0,0.00,0015a82c2db000af6aaaf3ae2ecb0532,ffff564a4f9085cd26170f4732393726
4,olist_order_items_dataset_df,shipping_limit_date,datetime64[ns],93318,0,0.00,2016-09-19 00:15:34,2020-04-09 22:35:08
5,olist_order_items_dataset_df,price,float64,5968,0,0.00,0.85,6735.0
6,olist_order_items_dataset_df,freight_value,float64,6999,0,0.00,0.0,409.68
0,olist_order_payments_dataset_df,order_id,object,99440,0,0.00,00010242fe8c5a6d1ba2dd792cb16214,fffe41c64501cc87c801fd61db3f6244
1,olist_order_payments_dataset_df,payment_sequential,int64,29,0,0.00,1,29
2,olist_order_payments_dataset_df,payment_type,object,5,0,0.00,boleto,voucher
3,olist_order_payments_dataset_df,payment_installments,int64,24,0,0.00,0,24
4,olist_order_payments_dataset_df,payment_value,float64,29077,0,0.00,0.0,13664.08
0,olist_order_reviews_dataset_df,review_id,object,98410,0,0.00,00020c7512a52e92212f12d3e37513c0,ffec6410b1f1d834f07afcc4800f2f2e
1,olist_order_reviews_dataset_df,order_id,object,98673,0,0.00,0006ec9db01a64e59a68b2c340bf65a7,ffea20c7630343a6cd9e09858c1295cd
2,olist_order_reviews_dataset_df,review_score,int64,5,0,0.00,1,5
3,olist_order_reviews_dataset_df,review_comment_title,object,4526,87658,88.34,10,🔟
4,olist_order_reviews_dataset_df,review_comment_message,object,36155,58274,58.73,\r\nBoa\r\nDemais\r\nA entrega\r\n,😀
5,olist_order_reviews_dataset_df,review_creation_date,datetime64[ns],636,0,0.00,2017-05-16 00:00:00,2018-08-31 00:00:00
6,olist_order_reviews_dataset_df,review_answer_timestamp,datetime64[ns],98248,0,0.00,2018-04-26 12:56:00,2018-10-24 21:34:38
0,olist_products_dataset_df,product_id,object,32951,0,0.00,00066f42aeeb9f3007548bb9d3f33c38,fffe9eeff12fcbd74a2f2b007dde0c58
1,olist_products_dataset_df,product_category_name,object,73,610,1.85,agro_industria_e_comercio,utilidades_domesticas
2,olist_products_dataset_df,product_name_lenght,float64,66,610,1.85,5.0,76.0
3,olist_products_dataset_df,product_description_lenght,float64,2960,610,1.85,4.0,3992.0
4,olist_products_dataset_df,product_photos_qty,float64,19,610,1.85,1.0,20.0
5,olist_products_dataset_df,product_weight_g,float64,2204,2,0.01,0.0,40425.0
6,olist_products_dataset_df,product_length_cm,float64,99,2,0.01,7.0,105.0
7,olist_products_dataset_df,product_height_cm,float64,102,2,0.01,2.0,105.0
8,olist_products_dataset_df,product_width_cm,float64,95,2,0.01,6.0,118.0
0,olist_sellers_dataset_df,seller_id,object,3095,0,0.00,0015a82c2db000af6aaaf3ae2ecb0532,ffff564a4f9085cd26170f4732393726
1,olist_sellers_dataset_df,seller_zip_code_prefix,int64,2246,0,0.00,1001,99730
2,olist_sellers_dataset_df,seller_city,object,611,0,0.00,04482255,xaxim
3,olist_sellers_dataset_df,seller_state,object,23,0,0.00,AC,SP
0,product_category_name_translation_df,product_category_name,object,71,0,0.00,agro_industria_e_comercio,utilidades_domesticas
1,product_category_name_translation_df,product_category_name_english,object,71,0,0.00,agro_industry_and_commerce,watches_gifts

**olist_customers_dataset_df**

**olist_geolocation_dataset_df**

**olist_orders_dataset_df**

**olist_order_items_dataset_df**

**olist_order_payments_dataset_df**

**olist_order_reviews_dataset_df**

**olist_products_dataset_df**

**olist_sellers_dataset_df**

**product_category_name_translation_df**