In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

### **Load Data**

In [6]:
data = pd.read_csv('../data/processed/master_data.csv', engine='pyarrow')
data

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,product_category_name_english,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,review_score
0,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,delivered,2016-10-03 09:44:50,2016-10-06 15:50:54,2016-10-23 14:02:13,2016-10-26 14:02:13,2016-10-27,1.0,3ae08df6bcbfe23586dd431c40bddbb7,...,watches_gifts,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP,1.0,boleto,1.0,45.46,4.0
1,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,delivered,2016-10-03 16:56:50,2016-10-06 16:03:44,2016-10-21 16:33:46,2016-10-27 18:19:38,2016-11-07,1.0,fd7fd78fd3cbc1b0a6370a7909c0a629,...,sports_leisure,2f64e403852e6893ae37485d5fcacdaf,98280,panambi,RS,1.0,boleto,1.0,39.09,4.0
2,65d1e226dfaeb8cdc42f665422522d14,70fc57eeae292675927697fe03ad3ff5,canceled,2016-10-03 21:01:41,2016-10-04 10:18:57,2016-10-25 12:14:28,2016-11-08 10:58:34,2016-11-25,1.0,9c7bdf67b06b419aefb93cfdfc96c55d,...,sports_leisure,b8b8726af116a5cfb35b0315ecef9172,22770,rio de janeiro,RJ,1.0,credit_card,1.0,35.61,1.0
3,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,delivered,2016-10-03 21:13:36,2016-10-05 03:11:49,2016-10-25 11:57:59,2016-11-03 10:58:07,2016-11-29,1.0,b72b39418216e944bb34e35f4d3ea8c7,...,sports_leisure,61db744d2f835035a5625b59350c6b63,90040,porto alegre,RS,1.0,boleto,1.0,53.73,3.0
4,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,delivered,2016-10-03 22:06:03,2016-10-04 10:28:07,2016-10-21 14:23:37,2016-10-31 11:07:42,2016-11-23,1.0,107177bf61755f05c604fe57e02467d6,...,furniture_decor,8d3a54507421dbd2ce0a1d58046826e0,13185,hortolandia,SP,1.0,credit_card,6.0,133.46,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112537,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,delivered,2018-08-29 14:18:23,2018-08-29 14:31:07,2018-08-29 15:29:00,2018-08-30 16:24:55,2018-09-04,1.0,2b4472df15512a2825ae86fd9ae79335,...,kitchen_dining_laundry_garden_furniture,5c58de6fb80e93396e2f35642666b693,80045,curitiba,PR,1.0,credit_card,8.0,510.96,5.0
112538,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,delivered,2018-08-29 14:18:23,2018-08-29 14:31:07,2018-08-29 15:29:00,2018-08-30 16:24:55,2018-09-04,2.0,2b4472df15512a2825ae86fd9ae79335,...,kitchen_dining_laundry_garden_furniture,5c58de6fb80e93396e2f35642666b693,80045,curitiba,PR,1.0,credit_card,8.0,510.96,5.0
112539,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,delivered,2018-08-29 14:18:28,2018-08-29 14:30:23,2018-08-29 18:51:00,2018-08-30 16:52:31,2018-09-11,1.0,bdcf6a834e8faa30dac3886c7a58e92e,...,health_beauty,7febafa06d9d8f232a900a2937f04338,38600,paracatu,MG,1.0,voucher,1.0,61.29,5.0
112540,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,delivered,2018-08-29 14:52:00,2018-08-29 15:05:22,2018-08-29 20:01:00,2018-08-30 16:36:59,2018-09-03,1.0,c7f27c5bef2338541c772b5776403e6a,...,party_supplies,b701bebbdf478f5500348f03aff62121,9541,sao caetano do sul,SP,1.0,credit_card,1.0,33.23,3.0
112541,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,delivered,2018-08-29 15:00:37,2018-08-29 15:10:26,2018-08-29 16:57:00,2018-08-30 16:23:36,2018-09-05,1.0,d04857e7b4b708ee8b8b9921163edba3,...,computers_accessories,24ac2b4327e25baf39f2119e4228976a,13483,limeira,SP,1.0,credit_card,1.0,93.75,5.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112542 entries, 0 to 112541
Data columns (total 25 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112542 non-null  object
 1   customer_id                    112542 non-null  object
 2   order_status                   112542 non-null  object
 3   order_purchase_timestamp       112542 non-null  datetime64[ns]
 4   order_approved_at              112542 non-null  datetime64[ns]
 5   order_delivered_carrier_date   112542 non-null  datetime64[ns]
 6   order_delivered_customer_date  112542 non-null  datetime64[ns]
 7   order_estimated_delivery_date  112542 non-null  object
 8   order_item_id                  112542 non-null  float64
 9   product_id                     112542 non-null  object
 10  seller_id                      112542 non-null  object
 11  shipping_limit_date            112542 non-null  datetime64[ns]
 12  price                          112542 non-null  float64
 13  freight_value                  112542 non-null  float64
 14  product_category_name          112542 non-null  object
 15  product_category_name_english  112542 non-null  object
 16  customer_unique_id             112542 non-null  object
 17  customer_zip_code_prefix       112542 non-null  int64
 18  customer_city                  112542 non-null  object
 19  customer_state                 112542 non-null  object
 20  payment_sequential             112542 non-null  float64
 21  payment_type                   112542 non-null  object
 22  payment_installments           112542 non-null  float64
 23  payment_value                  112542 non-null  float64
 24  review_score                   112542 non-null  float64
dtypes: datetime64[ns](5), float64(7), int64(1), object(12)
memory usage: 21.5+ MB

### **Data Analysis**

In [14]:
# buat copyan data utama
data_eda = data.copy()

# tambahkan kolom tanggal, bulan, tahun 
data_eda['order_date'] = data_eda['order_purchase_timestamp'].dt.date
data_eda['order_month'] = data_eda['order_purchase_timestamp'].dt.to_period('M')
data_eda['order_year'] = data_eda['order_purchase_timestamp'].dt.to_period('Y')

#### **Order Trend**

In [15]:
data_eda

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,review_score,order_date,order_month,order_year
0,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,delivered,2016-10-03 09:44:50,2016-10-06 15:50:54,2016-10-23 14:02:13,2016-10-26 14:02:13,2016-10-27,1.0,3ae08df6bcbfe23586dd431c40bddbb7,...,sao paulo,SP,1.0,boleto,1.0,45.46,4.0,2016-10-03,2016-10,2016
1,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,delivered,2016-10-03 16:56:50,2016-10-06 16:03:44,2016-10-21 16:33:46,2016-10-27 18:19:38,2016-11-07,1.0,fd7fd78fd3cbc1b0a6370a7909c0a629,...,panambi,RS,1.0,boleto,1.0,39.09,4.0,2016-10-03,2016-10,2016
2,65d1e226dfaeb8cdc42f665422522d14,70fc57eeae292675927697fe03ad3ff5,canceled,2016-10-03 21:01:41,2016-10-04 10:18:57,2016-10-25 12:14:28,2016-11-08 10:58:34,2016-11-25,1.0,9c7bdf67b06b419aefb93cfdfc96c55d,...,rio de janeiro,RJ,1.0,credit_card,1.0,35.61,1.0,2016-10-03,2016-10,2016
3,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,delivered,2016-10-03 21:13:36,2016-10-05 03:11:49,2016-10-25 11:57:59,2016-11-03 10:58:07,2016-11-29,1.0,b72b39418216e944bb34e35f4d3ea8c7,...,porto alegre,RS,1.0,boleto,1.0,53.73,3.0,2016-10-03,2016-10,2016
4,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,delivered,2016-10-03 22:06:03,2016-10-04 10:28:07,2016-10-21 14:23:37,2016-10-31 11:07:42,2016-11-23,1.0,107177bf61755f05c604fe57e02467d6,...,hortolandia,SP,1.0,credit_card,6.0,133.46,1.0,2016-10-03,2016-10,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112537,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,delivered,2018-08-29 14:18:23,2018-08-29 14:31:07,2018-08-29 15:29:00,2018-08-30 16:24:55,2018-09-04,1.0,2b4472df15512a2825ae86fd9ae79335,...,curitiba,PR,1.0,credit_card,8.0,510.96,5.0,2018-08-29,2018-08,2018
112538,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,delivered,2018-08-29 14:18:23,2018-08-29 14:31:07,2018-08-29 15:29:00,2018-08-30 16:24:55,2018-09-04,2.0,2b4472df15512a2825ae86fd9ae79335,...,curitiba,PR,1.0,credit_card,8.0,510.96,5.0,2018-08-29,2018-08,2018
112539,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,delivered,2018-08-29 14:18:28,2018-08-29 14:30:23,2018-08-29 18:51:00,2018-08-30 16:52:31,2018-09-11,1.0,bdcf6a834e8faa30dac3886c7a58e92e,...,paracatu,MG,1.0,voucher,1.0,61.29,5.0,2018-08-29,2018-08,2018
112540,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,delivered,2018-08-29 14:52:00,2018-08-29 15:05:22,2018-08-29 20:01:00,2018-08-30 16:36:59,2018-09-03,1.0,c7f27c5bef2338541c772b5776403e6a,...,sao caetano do sul,SP,1.0,credit_card,1.0,33.23,3.0,2018-08-29,2018-08,2018
112541,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,delivered,2018-08-29 15:00:37,2018-08-29 15:10:26,2018-08-29 16:57:00,2018-08-30 16:23:36,2018-09-05,1.0,d04857e7b4b708ee8b8b9921163edba3,...,limeira,SP,1.0,credit_card,1.0,93.75,5.0,2018-08-29,2018-08,2018

#### **Sales per State**

#### **Sales per Product**

#### **Customer Behaviour**

#### **Customer Retention**